.top-image {
  background-image: url(backgrounds/h_img.jpg);
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  
}
.top-image img:last-child{
  padding-top: 200px;
}
.about{
  text-align: center;
}
.service{
  background-image: url(backgrounds/s_image.jpg);
  height: 350px;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  
}
.contact{
  background-image: url(backgrounds/c_image.jpg);
  height: 550px;
  text-align: center;
  color: white;
  font-size: 14px;

}
.delani{
  text-align: center;
}
.social{
  display: flex;
  justify-content:center;
  
}
.work{
  text-align: center;
}
.portfo{
  box-sizing: border-box;
  border-style:none;
}
.width-100{
      padding-bottom:50px;
  
}
input[type=text]{
      border:2px solid white;
      background: transparent;
      color: white;
      
}
input[type=email]{
      border:2px solid white;
      background:transparent; 
}
form{
  align-items: center;
  margin-left: 300px;
  width:60%;
  padding-left:10px; 
}
input[type=text]::placeholder{
  color: white;
}
input[type=email]::placeholder{
  color: white;
}
textarea[name=Message]::placeholder{
  color:white;
}
textarea[name=Message]{
  border:2px solid white;
  background:transparent; 
}
#message{
  width:600px;
  height: 200px;
}
#one,#two,#three,#four,#five,#six,#seven,#eight{
  display:none;
  background-color:rgba(0, 0, 0, 0.75);
  z-index:2;
  position:absolute;
  height:207px;
  width:255px;
  color:lavenderblush;
  top:0.9px;
  text-align:center;
  font-weight:170%;
  font-family: sans-serif;
  font-size: 30px;
  padding-top: 70px;
}
